@inherits ShomreiTorah.Billing.Events.MelaveMalka.EmailPage<MelaveMalkaInvitation>
@using ShomreiTorah.Common;
@using ShomreiTorah.Common.Calendar;
@using ShomreiTorah.Data;
@{
    EmailSubject = "Shomrei Torah Melave Malka";
    var mm = DataContext.Table<MelaveMalkaInfo>().Rows.Single(m => m.Year == Row.Year);

    List<Pledge> lastYear = Row.Person.Pledges.Where(p => p.ExternalSource == "Journal " + (mm.Year - 1)).ToList();
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

    <head>
        <title></title>
        @* XtraRichEdit has incorrect default margins for <p> tags*@
        <style type="text/css">
            p {
                margin: 0 0 1em 0;
            }
            a {
                color: Blue;
            }
        </style>
    </head>

    <body>
        <p>
            Dear @Row.Person.ActualSalutation,
        </p>
        <p>
            We are pleased to invite you to the annual Melave Malka of Congregation Shomrei
            Torah, to take place on מוצאי שבת פרשת
            @(new HebrewDate(mm.MelaveMalkaDate).Parsha), @mm.MelaveMalkaDate.ToString("MMMM d 'at' h:mm tt").
            Our guests of honor this year are @mm.Honoree.FullName.<br />
        </p>
        <p>
            @if (lastYear.Any()) {
                @:Last year, you were kind enough to give
			        var adTypes = lastYear.GroupBy(p => p.SubType, (subtype, set) => set.Has(2) ? (set.Count() + " " + subtype.ToLower() + "s") : "a " + subtype.ToLower()).ToList();
                    if (lastYear.Count <= 2) {
                        Write(adTypes.Join(" and "));
                    } else {
                        Write(
                            (adTypes.Take(adTypes.Count - 1).Join(", ") + ", and " + lastYear.Last()).ToLower()
                        );
                    }
                <text> to the journal for @(lastYear.Has(2) ? " a total of " : "")
                @lastYear.Sum(p => p.Amount).ToString("c"). We hope that you will come to the Melave
                Malka and give the same (or higher) this year.</text>
            } else {
                <text>We hope that you will come to the Melave Malka and give an ad for the journal.</text>
            }
        </p>
        <p>
            The deadline for ads is @mm.AdDeadline.ToLongDateString().<br />
            You can download an ad blank by clicking <a href="http://ShomreiTorah.us@(mm.AdBlankPath)">here</a>.
            <br />
            Ads can also be emailed to <a href="mailto:Journal@ShomreiTorah.us">Journal@ShomreiTorah.us</a>.
            Please remember to include the following information:</p>
        @* Numbered lists have margin issues *@
        <p style="margin-left: 36px">
            1. &nbsp; Your full name and address<br />
            2. &nbsp; Type of ad<br />
            3. &nbsp; Number of men's & ladies' Melave Malka reservations<br />
            4. &nbsp; Text of your ad<br />
        </p>
        @if (Row.Source == "Shul") {
            <p>
                The Melave Malka is the perfect chance to meet everyone in the shul, and is great
                fun. So please be sure to come.
            </p>
        }
        <p>
            Best wishes,<br />
            Dovid Laks</p>
    </body>

</html>